section.benefits
		h3 Health benefits
		h5 Pure water for active life
		.container
			.row
				-
					var benefitList = [{
							img:'../img/runers.jpg',
							text: 'Activation of metabolism',
						},{
							img:'/img/kid.jpg',
							text: 'Increase of immunity'
						},{
							img:'/img/man.jpg',
							text: 'Detoxification'
						},{
							img:'/img/skin.jpg',
							text: 'Improvement of skin'
						},{
							img:'/img/girl.jpg',
							text: 'Weight loss stimulation'
						},{
							img:'/img/yoga.jpg',
							text: 'Increased tone'
						},{
							img:'/img/gradpar.jpg',
							text: 'Prevention of chronic diseases'
						}]
				for benefit in benefitList
					.w-benefit						
						.circle-img(style="background-image: url(" + benefit.img + ")").gradient
						.benefit-text= benefit.text