section.bottle-structure
	div.container
		div.row
			h3 How aqua-enrichment works
			div.col-md-12				
				div.bottle-schema
					img(src="../img/black-bottle.png", alt="")
					each val, index in [{selector: 'one', title:'COVER LOCK IS OPENED BY PRESSING THE BUTTON', descr:'Lorem ipsum dolor sit amet consectetur adipisicing elitnumquam.'}, {selector: 'two', title: 'CONVENIENT HOLDER', descr:'Lorem ipsum dolor sit amet consectetur adipisicing elitnumquam.'}, {selector: 'three', title:'CASE OF TRITANE', descr:'Lorem ipsum dolor sit amet consectetur adipisicing elitnumquam.'}, {selector: 'four', title:'MINERAL FILTER', descr:'Lorem ipsum dolor sit amet consectetur adipisicing elitnumquam.'}]
						div(class= val.selector)
							div.item-content
								div.item-title= val.title
								div.item-descr= val.descr

				div.intro-text
					h4 Water and magic
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse consequatur aliquam libero ea. 
					| Quas repellendus maiores, numquam nobis debitis nulla eos quo ipsam fuga, architecto ut vitae. Consequuntur, vero voluptatibus.
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse consequatur aliquam libero ea. 
					| Quas repellendus maiores, numquam nobis debitis nulla eos quo ipsam fuga, architecto ut vitae. Consequuntur, vero voluptatibus.
									
					