section.certificate
	h3 Certificates and patents
	h5 People choose us
	.container
		.row
			.col-md-12
				-
					var certificates = [{
						img:'/img/cert-1.jpeg',
						title: 'Certificate 1' 
					}, {
						img:'/img/cert-2.jpeg',
						title: 'Certificate 2'
					}, {
						img:'/img/cert-3.jpeg',
						title: 'Certificate 3'
					}, {
						img:'/img/cert-4.jpeg',
						title: 'Certificate 4'
					}]
				for certificate, index in certificates			
					.w-item
						div(class="item pop" data-show="popup" + index)
							.item-img.center
								img(src=certificate.img)					
							.item-title= certificate.title
							
						div(id="popup"+ index class="popup")
							.popup-content
								img(src=certificate.img)
