include purchase-popup

footer.br-top
	div.container
		div.row
			div.w-follow
				h4.follow-title.center Follow us
				div.follow-subtitle.center Stay in touch and keep up with the latest news from AlkaStoneH2O
				ul.w-social-links.center
					each val, index in [ {link: '#', icon:'fa fa-instagram'}, {link: '#', icon:'fa fa-facebook'}, {link: '#', icon:'fa fa-pinterest-p'}, {link: '#', icon:'fa fa-youtube'}]
						li.social-link.dib
							a(href=val.link)
								i(class=val.icon)
	div.footer-info.br-top
		div.container
			div.row
				div.col-md-4.center
					img(src="../img/logo.png", alt="AlkaStone H2O")
				div.col-md-8
					-
						var footerLinks = [{
								url: '#', 
								label: 'Sale terms'
							},{
								url: '#',
								label: 'Returnd policy'
							},{
								url: '#',
								label: 'Terms and conditions of use'
							}, {
								url: '#',
								label: 'Patent and trademarks'
							}, {
								url: '#',
								label: 'FAQ'
							}];
					for link in footerLinks	
						div.info-link
							a(href=link.url)= link.label			
	div.copyright.br-top
		div.center Copyright &copy; 2018 AlkaStone H2O. All rights reserved.
			a(href="#") Privacy And Cookies
									
						
					