//- div#someone-purchased.card
//- 	div.container-fluid
//- 		div.row
//- 			div.col-xs-3
//- 				img(src="img/bottle-0.jpg")
//- 			div.col-xs-9
//- 				h4.label Gabriela in Mexico 
//- 				a(href="Product-page.html") Water Bottle
//- 				p.label about 13 minutes ago
//- 	span.close 
//- 		i.fa.fa-close

footer
	div.container
		div.row
			h3.center Follow us
			ul
				each val, index in [{link: '#', icon:'fa fa-facebook'}, {link: '#', icon:'fa fa-instagram'}]
					li.social-link
						a(href=val.link)
							i(class=val.icon)

		div.row
			div.col-md-4
				each val, index in [{link: '#', label: 'Privacy policy'}, {link: '#', label: 'Returnd policy'},  {link: '#', label: 'Terms and conditions of use'}]
					div.foter-link
						a(href=val.link)= val.label
				
			div.col-md-4.center
				img(src="../img/white_logo.png", alt="")
			div.col-md-4
				each val, index in [{link: '#', label: 'Sale terms'}, {link: '#', label: 'Patent and trademarks'}]
					div.foter-link
						a(href=val.link)= val.label
						
					