include purchase-popup

footer.br-top
	div.container
		div.row
			div.w-follow
				h4.follow-title.center Follow us
				div.follow-subtitle.center Stay in touch and keep up with the latest news from AlkaStoneH2O
				include soc-block
	div.footer-info.br-top
		div.container
			div.row
				div.col-md-4.center
					img(src="../img/logo.png", alt="AlkaStone H2O")
				div.col-md-8
					-
						var footerLinks = [{
								url: 'Info.html', 
								label: 'Sale terms'
							},{
								url: 'Info.html',
								label: 'Returnd policy'
							},{
								url: 'Info.html',
								label: 'Terms and conditions of use'
							}, {
								url: 'Info.html',
								label: 'Patent and trademarks'
							}, {
								url: 'FAQ.html',
								label: 'FAQ'
							}];
					for link in footerLinks	
						div.info-link
							a(href=link.url)= link.label			
	div.copyright.br-top
		div.center Copyright &copy; 2018 AlkaStone H2O. All rights reserved.
			a(href="Info.html") Privacy And Cookies
									
						
					