section.info-gallery
	div.container-fluid
		div.row			
			div.col-md-4.info-item.shop
				div.content
					h5 Alkastone bottle
					a(href="" class="btn") Shop now 
			div.col-md-4.info-item.news
				div.content
					h5 Get more info about the Alkastone
					a(href="" class="btn") Read news 
			div.col-md-4.info-item.sport
				div.content
					h5 Keep doing
					a(href="" class="btn") Sport and water