header
	include navigation
	div.main-promo.gradient
		video(poster="/img/waterline1.jpg" autoplay loop)
			source(src="/img/water-splash.mp4" type="video/mp4")
			object
				emded(src="/img/water-splash.mp4" type="application/x-shockwave-flash" allowfullscreen="false" allowscriptaccess="always")
		div.promo-content
			h1.title AlkaStone H2O
			p.subtitle Feel power of water
			h3.promo-text Aqua-enrichment
		div.promo-img.center
			img(src="/img/black-bottle.png")
			div.promo-btn
				a(href="elements.html").btn Get you own bottle