header
	include navigation
	div.main-promo.gradient
		video(poster="/img/waterline1.jpg" autoplay loop)
			source(src="/img/water-splash.mp4" type="video/mp4")
			object
				emded(src="/img/water-splash.mp4" type="application/x-shockwave-flash" allowfullscreen="false" allowscriptaccess="always")
		.container
			.row
				.col-md-7.promo-content
					h1.title PREMIUM ALKALINE WATER BOTTLE
					p.subtitle Enhanced by 16 natural minerals
					h3.promo-text Feel power of water
				.col-md-5.promo-img.center
					img(src="/img/transp-bottle.png")
					.promo-btn
						a(href="elements.html").btn Get you own bottle