head
	meta(charset="utf-8")
	title Start gulp template
	meta(name="description", content="")
	meta(name="robots" content="noindex")
	meta(name="keywords" content="sass,css,gulp,front-end")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width initial-scale=1 maximum-scale=1")

	link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
	link(rel="stylesheet", href="css/vendor.min.css")
	link(rel="stylesheet", href="css/header.min.css")
	link(rel="stylesheet", href="css/main.min.css")

	meta(property="og:url" content="http://tsumbaluk.in.ua")
	meta(property="og:type" content="website")
	meta(property="og:title" content="front-end developer")
	meta(property="og:description" content="front-end developer")
	meta(property="og:image" content="design/img/sass.png")