header
	include navigation
	div.main-promo.gradient(style="background-image:url('img/girl-with-bottle-fancy.jpg')")
		div.content-block.center
			h1.title Aqua-enrichment
			p.subtitle Feel power of water
			a(href="elements.html").btn See all products