section.how-works
		h3 How it works
		h5 Natural magic inside
		.container
				.row
					-
						var configList = [{
										img:'/img/water-option1.png',
										title: 'Increases the PH balance of water to the optimum level',
										text: 'All major body fluids have a slightly alkaline pH reaction from 7.34 to 7.44',
								},{
										img:'/img/water-option2.png',
										title: 'Enriched with minerals',
										text: 'The closest thing to nature'
								},{
										img:'/img/water-option3.png',
										title: 'Filtered water',
										text: 'Dead water washes away useful minerals'
								},{
										img:'/img/water-option3.png',
										title: 'Filtered water',
										text: 'Dead water washes away useful minerals'
								}]
					for config, index in configList
						.work-item.col-md-8
							.work-title(class='col-md-6')
								img(src= config.img width="40")
								span.label config.title							
							.work-text(class='col-md-6')= config.text
								div.work-number= index+1