section.info-gallery
	div.container-fluid
		div.row			
			div.col-md-4.info-item.shop.gradient
				div.content
					div.info-title Alkastone bottle
					a(href="" class="btn") Shop now 
			div.col-md-4.info-item.news.gradient
				div.content
					div.info-title Get more info about the Alkastone
					a(href="" class="btn") Read news 
			div.col-md-4.info-item.sport.gradient
				div.content
					div.info-title Keep doing
					a(href="" class="btn") Sport and water