nav
	div.container
		div.row
			div.col-md-12
				div.logo
					a(href="/")
						img(src='../img/logo.png')
				ul.nav
					each val,ind in ['About','Catalog','News','Partners','Contact']
						li
							a(href=val+'.html')=val
					li.w-bag
						a(href='Basket-page.html', class='shop-bag')
							.not_empty
								.total-price-basket
									span.lbl
										i.fa.fa-shopping-bag
										| Shop
									.total-price
										span.value 350$	
								.basket-item-count
									span.count (10)

						.dropdown-mini-bag
							.bag-list
								.container-fluid
									.row.bag-product
										.col-xs-4
											a(href="Product-page.html")
												img(src="/img/bottle-3.jpg" class="lazy")
										.col-xs-8
											.w-product
												.w-product-name
													a(href="Product-page.html" class="product-name") Blue bottle
												.product-price Price: 45$
											form(method="post" class="mini-bag-delete")
												input(type="hidden" name="key" value="val")
												btn(class="close-btn close" type="submit" name="ms2_action" title="Remove from basket" value="cart/remove")
													i.fa.fa-close
									
								
							.view-bag.center
								a(href="Checkout-page.html" class="btn invert") Checkout
