section.news
	.container-fluid
		.row
			-
				var articles = [{
					title: 'Water and health',
					url: 'News.html',
					img: '/img/girl-medium.jpg'
				}, {
					title: 'Chose Alkaline water',
					url: 'News.html',
					img: '/img/yoga-medium.jpg'
				}, {
					title: 'Keep doing',
					url: 'News.html',
					img: '/img/run-medium.jpg'
				}]
			for article in articles
				.col-md-4.col-xs-12.news-item
					.content
						img(src=article.img alt=article.title)
						.news-title= article.title
						a(href=article.url class="btn") Read more
