div.pagination.light.mb4
	ul.pagination
		li.control
			a(href="News.html")
				i.fa.fa-angle-left
		li.active
			a(href="News.html") 1
		li
			a(href="News.html") 2
		li
			a(href="News.html") 3
		li.control
			a(href="News.html")
				i.fa.fa-angle-right