section.partner
		h3 Partners program
		h5 Become our partner and get bonuses
		.container
			.row.become-partner
				.col-xs-4.center
					.circle-img(style="background-image: url(img/man.jpg)").gradient					
				.col-xs-8
					.w-become-intro
						.title Special conditions
						.sub-title for fitness clubs, aesthetic medicine centers, yoga clubs, advertising agencies and other organizations
						.text
							div To get a personal offer and to know the details, just fill out the form
							a(href="Contact.html" class="btn") contact us

			.row
				.headline.center Our parthners
				.partners-slider
					-
						var partnersList = [{
								img:'../img/part1.jpg',
								text: 'Activation of metabolism',
							},{
								img:'/img/part2.jpg',
								text: 'Increase of immunity'
							},{
								img:'/img/part3.jpg',
								text: 'Detoxification'
							},{
								img:'/img/part4.jpg',
								text: 'Improvement of skin'
							},{
								img:'/img/part1.jpg',
								text: 'Weight loss stimulation'
							},{
								img:'/img/part2.jpg',
								text: 'Increased tone'
							},{
								img:'/img/part3.jpg',
								text: 'Prevention of chronic diseases'
							}]
					for partner in partnersList
						.item
							.partner-img
								img(src=partner.img)