section.product-plus
    h3 What you get with our product
    h5 Make your life better 
   
    -
        var plusList = [{
            img: '/img/flower.png',
            title: '1. Good for health',
            text: 'Bottled water or water from plastic dispensers: Exposes hormone-like chemicals in water,	Increases the risk of contamination and bacterial proliferation. Alkaline LIVING water enhanced with minerals: Powerful antioxidant, Effectively balances the pH levels of the body, Promotes better hydration, Prevents the development of chronic diseases, Tastes better. Tap or filtered DEAD water: Washes out beneficial trace elements from the body, Lacks energetics and organic minerals, Might contains harmful toxins'
        }, {
            img: '/img/bottled-water.png',
            title: '2. Save money',
            text: 'Bottled water or water from plastic dispensers: Exposes hormone-like chemicals in water,	Increases the risk of contamination and bacterial proliferation. Alkaline LIVING water enhanced with minerals: Powerful antioxidant, Effectively balances the pH levels of the body, Promotes better hydration, Prevents the development of chronic diseases, Tastes better. Tap or filtered DEAD water: Washes out beneficial trace elements from the body, Lacks energetics and organic minerals, Might contains harmful toxins'
        }, {
            img: '/img/waterr-earth.png',
            title: '3. Ecological awareness',
            text: 'Bottled water or water from plastic dispensers: Exposes hormone-like chemicals in water,	Increases the risk of contamination and bacterial proliferation. Alkaline LIVING water enhanced with minerals: Powerful antioxidant, Effectively balances the pH levels of the body, Promotes better hydration, Prevents the development of chronic diseases, Tastes better. Tap or filtered DEAD water: Washes out beneficial trace elements from the body, Lacks energetics and organic minerals, Might contains harmful toxins'
        }]

    for val, index inplusList
        .w-plus-item
            .container
                .row.plus
                    .col-md-8.plus-text
                        .title= val.title
                        div(class="read-more-text" data-lines="4")= val.text
                        .w-btn
                            a(href="Catalog.html" class="btn invert mt3") View all products                            
                    .col-md-4
                        .plus-img
                            img(src=val.img)
