div#someone-purchased.card
	div.container-fluid
		div.row
			div.col-xs-3
				img(src="img/bottle-0.jpg")
			div.col-xs-9
				a(href="Product-page.html") Green bottle, 500ml
				p.label purchased about 13 minutes ago
				h4.label by Gabriela from New-York 
	span.close 
		i.fa.fa-close
								
						
					