.row.choice-step
            .choice-point 2. You save money
            .col-md-5.col-xs-5.choice-pic
                img(src="/img/bottled-water.png")   
            .col-md-7.col-xs-7.choice-content
                .choice-content-title Our product help you to replace all plastic bottles
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque adipisci rem quis magnam quos? Esse odit dolorem molestias vel consequatur, voluptatem, ut aspernatur voluptas, labore eligendi voluptatum nulla natus. Voluptatum!    
                
        .row.choice-step
            .choice-point 3. Ecological awareness
            .col-md-9.col-xs-12.choice-content
                .choice-content-title Change is simple - and make a real difference!
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam mollitia, illum cum laudantium porro, enim hic praesentium temporibus exercitationem fugiat odio. Laborum quia eligendi molestiae unde quod aut recusandae optio.
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum quas nostrum, perferendis alias vel labore magnam a commodi eum fugiat velit cum, mollitia aperiam quae ut iure molestias dicta ad! 
            .col-md-3.col-xs-12.choice-pic
                img(src="/img/waterr-earth.png")