ul.share-btns-list
	li
		.label Share in social:
	-
		var btnsList = [{
			url: "https://facebook.com/sharer/sharer.php?u=http://www.alkastoneh2o.com/",
			icon: "facebook"
		},{
			url: "https://twitter.com/intent/tweet/?text=Lorem ipsum dolor sit amet, consectetur adipisicing elit&amp;url=http://www.alkastoneh2o.com/",
			icon: "twitter"
		},{
			url: "https://plus.google.com/share?urlhttp://www.alkastoneh2o.com/",
			icon: "google"
		},{
			url: "https://pinterest.com/pin/create/button/?url=http://www.alkastoneh2o.com/&amp;description=Lorem ipsum dolor sit amet, consectetur adipisicing elit",
			icon: "pinterest"
		}]
	for btns in btnsList
		li
			a(class="resp-sharing-button" href=btns.url target="_blank" title="Share in "+btns.icon)
				i(class="fa fa-"+btns.icon)