ul.w-social-links.center
	each val, index in [ {link: '#', icon:'fa fa-instagram'}, {link: '#', icon:'fa fa-facebook'}, {link: '#', icon:'fa fa-pinterest-p'}, {link: '#', icon:'fa fa-youtube'}]
		li.social-link.dib
			a(href=val.link)
				i(class=val.icon)