div.subscribe.gradient.center(style="background-image:url('../img/subscribe.jpg')")
	form.mb3(action="" method="post")
		div.block-content
			div.form-subscribe-header
				h3.title.white Stay in touch
				p.subtitle.white Sign up to get the latest on sales, new products and more…
			div.form-subscribe-body
				input(type="textfield" name="email" value="" placeholder="Enter your email address...")
				button(type="submit" class="btn") Sign up