section.water-enrichment
	div.container
		div.row
			h3 Care routine
			h5 How to keep and use bottle
			div.col-md-6
				div.w-img
					img(src='../img/bottles.png')
			div.col-md-6 
				div.descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse consequatur aliquam libero ea. 
					| Quas repellendus maiores, numquam nobis debitis nulla eos quo ipsam fuga, architecto ut vitae. Consequuntur, vero voluptatibus.
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse consequatur aliquam libero ea. 
					| Quas repellendus maiores, numquam nobis debitis nulla eos quo ipsam fuga, architecto ut vitae. Consequuntur, vero voluptatibus.
					
				a(href="elements.html").btn Check all available