doctype html
html.no-js(lang="en")
	include templates/structure/head
	body
		include templates/structure/header-inner
		section.checkout
			.container
				div.row
					div.col-md-7
						h3.title.black.left Contact information
						p Maecenas dolor elit, semper a sem sed, pulvinar molestie lacus. Aliquam dignissim, elit non mattis ultrices, neque odio ultricies tellus, eu porttitor nisl ipsum eu massa.
						form.mt3
							.form-group.half
								input(type="text" onkeyup="this.setAttribute('value', this.value);" value="" name="firstName" id="firstName" required placeholder="First name")
								label(for="firstName") First name
							.form-group.half
								input(type="text" value="" name="lastName" id="lastName" required placeholder="Last name")
								label(for="lastName") Last name
							.form-group.half
								input(type="text" value="" name="city" id="city" required placeholder="City")
								label(for="city") City
							.form-group.half
								input(type="text" value="" name="country" id="country" placeholder="Country")
								label(for="country") Country
							.form-group
								input(type="text" value="" name="address" id="address" required placeholder="Address")
								label(for="address") Address
							.form-group.half
								input(type="text" value="" name="apt" id="apt" placeholder="Apt, suite, etc.(optional)")
								label(for="apt") Apt, suite, etc.
							.form-group.half
								input(type="text" value="" name="postalCode" id="postalCode" placeholder="Postal code")
								label(for="postalCode") Postal code
							.form-group
								input(type="text" value="" name="company" id="company" placeholder="Company(optional)")
							.form-group
								input(type="text" value="" name="phone" id="phone" required placeholder="Phone")
							.form-group.right
								button(type="submit" class="btn mt1") Continue to shipping method

					.col-md-5
						h3.title.black.left Our Store
						p 24/7 support.
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, incidunt.
						ul
							li.mt2
								span.label.mt-half.pr1 e-mail:
								a(href="mailto:support@alkastone.com") support@alcastone.com
							li.mt2
								span.label.mt-half.pr1 phone:
								a(href="tel://(+31)20 2400 212") (+31)20 2400 212

		include templates/structure/footer
		include templates/structure/scripts