doctype html
html.no-js(lang="en")
	include templates/structure/head
	body
		include templates/structure/header-inner
		.container
			.row
				.col-md-12.center
					h1.title.black Get more info about the Alkastone
					p
						i.fa.fa-calendar.label 
						span.label 11.04.1018 / Posted by AlkaStoneH2O.com		
					ul.tags
						each val,ind in ['Sport','Health','News']
							li= val		
		section#content
			div.cont-wrap
				div.content
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo atque a deleniti ipsam, tempora repudiandae quibusdam necessitatibus doloremque fugit dolor consectetur, id optio, odio exercitationem temporibus modi minima adipisci. Cumque possimus magni deleniti? Atque, fugiat. Nostrum vitae, amet voluptatum saepe.
					blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga incidunt nulla numquam hic laudantium consequatur, eos cumque vero repellat. Modi id vel sunt laborum iusto consequatur, saepe laudantium quam doloremque!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo atque a deleniti ipsam, tempora repudiandae quibusdam necessitatibus doloremque fugit dolor consectetur, id optio, odio exercitationem temporibus modi minima adipisci. Cumque possimus magni deleniti? Atque, fugiat. Nostrum vitae, amet voluptatum saepe.</p>
					p 
						img(src="img/bottles.png")
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo atque a deleniti ipsam, tempora repudiandae quibusdam necessitatibus doloremque fugit dolor consectetur, id optio, odio exercitationem temporibus modi minima adipisci. Cumque possimus magni deleniti? Atque, fugiat. Nostrum vitae, amet voluptatum saepe.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo atque a deleniti ipsam, tempora repudiandae quibusdam necessitatibus doloremque fugit dolor consectetur, id optio, odio exercitationem temporibus modi minima adipisci. magni deleniti? Atque, fugiat. Nostrum vitae, amet voluptatum saepe. Nostrum vitae, amet voluptatum saepe.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo atque a deleniti ipsam, tempora repudiandae quibusdam necessitatibus doloremque fugit dolor consectetur, id optio, odio exercitationem temporibus modi minima adipisci. magni deleniti? Atque, fugiat. Nostrum vitae, amet voluptatum saepe. Nostrum vitae, amet voluptatum saepe.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo atque a deleniti ipsam, tempora repudiandae quibusdam necessitatibus doloremque fugit dolor consectetur, id optio, odio exercitationem temporibus modi minima adipisci. magni deleniti? Atque, fugiat. Nostrum vitae, amet voluptatum saepe.
						a(href="#") read.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, excepturi maxime hic ipsa quam explicabo in porro culpa mollitia dolorem natus non nesciunt? Incidunt enim libero accusantium distinctio quia mollitia.
					include templates/structure/share-btns
		include templates/structure/subscribe
		include templates/structure/footer
		include templates/structure/scripts