doctype html
html.no-js(lang="en")
	include templates/structure/head
	body
		include templates/structure/header

		include templates/structure/water-choice
		include templates/structure/how-works
		include templates/structure/benefits
		include templates/structure/bottleSchema
		include templates/structure/elements
		include templates/structure/use-care
		include templates/structure/partners
		include templates/structure/news
		include templates/structure/certificates
		include templates/structure/subscribe

		include templates/structure/footer
		include templates/structure/scripts