doctype html
html.no-js(lang="en")
	include templates/structure/head
	body
		include templates/structure/header-inner
		section.info
			.container
				.row
					.col-md-12
						.info-header
							i.fa.fa-info-circle
							span.info-label Customer information				
					.col-md-12
						.info-content
							h1.title.center Privacy and cookie
							.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ullam eius quisquam quam, blanditiis aliquid, delectus omnis labore perspiciatis sapiente ea veniam quae eos ratione natus iusto et! Recusandae, nobis.
						
								ul
									li Items
									li Links
									li Articles

								| Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui a quidem consectetur ex sunt nemo similique quaerat? Ad nisi quis repudiandae tempora ab veniam voluptates nesciunt? Animi cum debitis quaerat!		
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, obcaecati sequi odit amet minima laboriosam sed officiis. Omnis explicabo nam ipsum eveniet iure sapiente, dolores aut sed eius illum expedita!


		include templates/structure/subscribe
		include templates/structure/footer
		include templates/structure/scripts