doctype html
html.no-js(lang="en")
	include templates/structure/head
	body
		include templates/structure/header-inner
		section.no-result.container.center
			.row
				.col-md-12
					.no-result-title oh no! no results for:
					.no-result-query
						i.fa.fa-search
						| "bad content"
					.no-result-text Don't give up - and try something else.

					
							
						
		include templates/structure/subscribe
		include templates/structure/footer
		include templates/structure/scripts