doctype html
html.no-js(lang="en")
	include templates/structure/head
	body
		include templates/structure/header-inner
		h1.title.black.center Partners program
		p.subtitle.center Pluses to be our partner

		include templates/structure/become-partner
		include templates/structure/partners

		include templates/structure/subscribe
		include templates/structure/footer
		include templates/structure/scripts