doctype html
html.no-js(lang="en")
	include templates/structure/head
	body
		include templates/structure/header-inner
		h1.title.black.center Partners program
		p.subtitle.center Pluses to be our partner

		include templates/structure/become-partner
		include templates/structure/partners

		#popup.popup.active(style="display: block;")
			.popup-content
				.popup-message
					.title Alkastone H2O subscription
					.text News subscription by your email is successfully registered
				span.fade_out &#x2a2f;
	
		
		include templates/structure/subscribe
		include templates/structure/footer
		include templates/structure/scripts