$elements: 15;
@for $i from 0 to $elements
	.owl-item .col-md-3.col-sm-4:nth-child(#{$i})
		.flip-card
			animation-delay: $i*0.15+s

.flip-card
	position: relative
	margin-bottom: 30px
	width: 100%
	height: 320px
	border: 1px solid #fefefe
	opacity: 0

	
	&:hover
		.front
			transform: rotateY(-180deg)
		.back
			transform: rotateY(0deg)
	
	.card-title
		position: absolute
		bottom: 0
		padding: 0 20px
		width: 100%
		height: 60px
		font-family: RobotoBold
		text-transform: uppercase
		color: $silver
		letter-spacing: 2px
		text-align: center

	.front,
	.back
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		perspective: 1000px
		transform-style: preserve-3d
		backface-visibility: hidden
		border-radius: 8px
		box-shadow: 0 1px 12px 2px rgba(21,101,192,.3)
		transition: 0.7s
	
	.front-img
		position: relative
		padding: 25px
		width: 100%
		overflow: hidden
		img
			width: 100%
	.front
		background: $white
	.back
		padding: 15px 20px
		font-size: 15px
		line-height: 20px
		background: $white
		color: $black
		transform: rotateY(180deg)

