.br-top
	border-top: 1px solid $blueLight 

footer
	padding: 40px 0
	width: 100%
	min-height: 150px	
	color: $black	

	.w-follow
		.follow-title
			margin-bottom: 10px
			font-size: 15px
			letter-spacing: 2px
			text-transform: uppercase
			font-family: RobotoLight

		.follow-subtitle
			margin-bottom: 20px
			font-family: RobotoLight
			font-size: 15px
			letter-spacing: 2px

		

	.footer-info
		margin-top: 60px
		padding-top: 50px
		padding-bottom: 20px

		img
			width: 100%
			max-width: 200px
			margin-bottom: 30px

		.info-link
			display: inline-block
			width: 49%
			padding: 0 10px
			margin-bottom: 15px

			a
				font-size: 16px
				font-family: RobotoRegular
				letter-spacing: 1px
				color: $black

				&:hover
					color: $main
	.copyright
		padding-top: 30px
		font-family: RobotoRegular
		font-size: 12px
		a
			margin-left: 5px
			color: $black
			text-decoration: underline
			&:hover
				color: $main	


#someone-purchased
	position: fixed
	bottom: 20px
	right: 20px
	padding: 20px
	width: 275px
	background-color: $white
	box-shadow: 0 1px 5px 2px rgba(21,101,192,.3)
	z-index: 100

	.close
		position: absolute
		top: 0px
		right: 0px
		width: 25px
		height: 25px
		line-height: 25px
		color: $silver
		text-align: center
		cursor: pointer

	img
		max-height: 65px

	a
		display: block
		text-transform: uppercase
		font-size: 12px
		font-family: RobotoBold
		color: $main
		letter-spacing: 1px
		transition: color ease-in 0.3s
		&:hover
			color: $blueHover

.w-social-links
	.social-link
		margin: 0 10px
	a
		display: inline-block	
		height: 40px
		width: 40px
		background: $main
		border-radius: 40px
		color: $white
		font-size: 22px
		line-height: 40px
		background: $main
		box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0)
		transition: all 0.5s ease	
		&:hover
			box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35)