@import "bourbon"

$white: #fff
$black: #333
$grey: #999
$red: #FE6246

// $main: #00addb
$main: #1565C0
$deepMain: #093260
$darkMain: #093260
$warmMain: #3523a6
$lavanda: #7c75bc
$textColor: #666
$silver: #667a8f
$greyLight: #ccc
$blueHover: #4cbadf
$blueLight: #d0dae6

$formGrey: #d9d9d9
