@import "bourbon"
@import "_vars.sass"
@import "_mixins.sass"
@import "_form.sass"
@import "_popup.sass"
@import "_tabs.sass"

%extend_before
	position: absolute
	content: ""
	width: 100%
	bottom: 0

%extend_inline
	display: inline-block
	position: relative
	vertical-align: top

//Custom Styles Here

//Share btns----------------
.share-btns-list
	margin-top: 45px
	padding-top: 20px
	border-top: 1px solid $greyLight
	text-align: right

	.label
		font-size: 16px
		line-height: 28px

	li
		margin-left: 5px
		display: inline-block		
		a
			display: inline-block
			width: 35px
			height: 35px
			font-size: 16px
			line-height: 35px
			border-radius: 50%
			background-color: $white
			color: $main
			border: 1px solid $main
			text-align: center

.contacts
	.share-btns-list
		border-bottom: none
		text-align: center

	.share-btn
		.label
			margin-top: 20px
			margin-bottom: 10px		

	.soc-btn
		.label
			margin-top: 20px
			margin-bottom: 10px
		li
			margin-left: 5px			
			a
				width: 35px
				height: 35px
				font-size: 16px
				line-height: 35px
				border-radius: 50%
				background-color: $main
				color: $white
				text-align: center		


//Share btns----------------

//Product-card--------------
.product-card
	min-height: 337px
	padding: 20px 5px
	text-align: center
	
	img
		max-width: 125px
		margin-left: -15px
		margin-right: 15px
	.product-options
		display: inline-block
		vertical-align: middle
		cursor: default
	.product-name a
		color: $black
	.product-color
		span
			display: inline-block
			vertical-align: top
			width: 20px
			height: 20px
			margin-left: 10px
			margin-top: 4px
	.product-size
		strong
			font-weight: 100
	.product-price
		font-family: "RobotoBold"
		font-size: 22px

.product-card-inner
	img
		max-height: 480px

.product-card-basket
	.container-fluid
		border-bottom: 1px solid $blueLight
		padding-bottom: 10px
	img
		max-height: 100px
	.product-options
		>div
			position: relative
			width: 24.5%
			display: inline-block!important
			vertical-align: top
			border-right: 1px solid $blueLight
			text-align: center
			&:last-child
				border-right: none
			li
				margin-right: 5px!important
			.option-name
				margin-bottom: 0
		.product-color
			ul
				display: inline-block
				vertical-align: text-top
				line-height: 20px
		.close
			position: absolute
			top: 3px
			right: -20px
			color: $main
			background-color: transparent

.product-card-basket,
.product-card-inner
	.title
		font-family: RobotoBold
		line-height: 40px
	.description
		border-bottom: 1px solid $greyLight
		border-top: 1px solid $greyLight
		padding: 15px 0
	.product-options
		span, li, .options
			line-height: 35px
			display: inline-block
			vertical-align: top
		.option-name
			min-width: 55px
			margin-bottom: 10px
		ul
			li
				min-height: 20px
				min-width: 20px
				margin-right: 20px
				cursor: pointer
				&.active
					font-family: "RobotoBold"
					font-weight: 600
				&.big
					font-size: 20px
		.product-color
			li
				position: relative
				margin-right: 8px
				&.active
					&:before
						position: absolute
						content: ''
						top: -2px
						left: -2px
						width: 24px
						height: 24px
						border: 1px solid $main
						z-index: -1
.total
	p
		line-height: 40px
		margin-right: 20px
//Product-card end--------------


.circle-img
	position: relative
	display: inline-block
	width: 250px
	height: 250px
	border-radius: 50%
	overflow: hidden

	&::after
		position: absolute
		content: ''
		top: 0
		left: 0
		height: 100%
		width: 100%
		background: linear-gradient(to right, $main 0%, #6cebf1 100%)
		opacity: 0.2

	img
		height: 100%	


// About --------------

.about
	.title
		margin-bottom: 10px
		text-align: left



// About end ----------		

//Subscribe block-----------
.subscribe
	padding: 20px 0
	background-size: cover
	background-position: 50% top
	form
		max-width: 620px
		padding: 0 15px
	.title
		text-align: center
	.subtitle
		font-style: normal
		font-family: RobotoLight
		margin-bottom: 15px
		font-size: 18px
	.form-subscribe-body
		position: relative
		input
			height: 49px
			width: 100%
			border-top-right-radius: 22px
			border-bottom-right-radius: 22px
			text-indent: 10px
		button
			position: absolute
			top: 2px
			right: 2px
//Subscribe block-----------

#content 
	padding-top: 20px
	border-bottom: none
	.cont-wrap 
		max-width: 870px
		margin: 0 auto 0px
	.content 
		padding: 10px 10px 30px
		border-top: 1px solid $greyLight
		img 
			width: 100%
			height: auto
			float: left
			margin: 10px 10px 10px 0
		p 
			margin-bottom: 10px
			clear: both
		blockquote 
			font-style: italic
			padding: 10px 20px
			border-bottom: 1px solid #ccc
			position: relative
			&:after,&:before 
				position: absolute
				content: '\201c'
				font-size: 30px
				height: 20px
				line-height: 35px
			&:before 
				top: 0
				left: -5px
			&:after 
				bottom: 15px
				right: -5px

section
	padding: 60px 0 70px
	border-bottom: 1px solid $blueLight

	h3
		margin-bottom: 10px
		font-size: 30px
		font-family: OpenSansLight, sans-serif
		font-weight: 400
		letter-spacing: 2px
		color: $main
		text-align: center

		&.lh-16
			color: $black

	h5	
		font-style: italic
		font-family: serif
		font-weight: 400
		font-size: 20px
		text-align: center
		color: $silver
		letter-spacing: 1px
		margin-bottom: 50px

.benefits,
.elements,
.certificate
	background: aliceblue	

.gallery
	padding: 0	
	.gallery-slider
		position: relative
		padding: 0
		height: 400px
		overflow: hidden

		.item
			img
				min-width: 100%
				max-height: 410px
		
		.owl-controls
			position: absolute	
			top: 50%
			margin-top: -40px
			padding: 0 30px
			width: 100%

			.owl-prev,
			.owl-next
				padding: 0
				width: 40px
				height: 40px
				font-size: 40px
				line-height: 36px
				background: $silver

			.owl-prev
				float: left
			.owl-next
				float: right

// water-choice
$elements: 5;
@for $i from 0 to $elements
	.water-choice .col-md-4.col-sm-4:nth-child(#{$i})
		.w-choice-block
			animation-delay: $i*0.15+s

.water-choice
	.w-choice-block
		position: relative
		margin-bottom: 30px
		padding: 20px 20px 30px
		min-height: 580px
		text-align: center
		border: 1px solid $blueLight
		opacity: 0
		.choice-title
			margin-bottom: 10px
			text-transform: uppercase
			letter-spacing: 2px	

		.choice-descr
			line-height: 18px
			font-size: 14px
			ul
				padding: 0 20px
				list-style-type: disc
				text-align: left
			li
				margin-top: 5px	
		
		&.highlighted
			box-shadow: 0 1px 12px 2px rgba(21,101,192,.3)

			&::before
				position: absolute
				content: '\002714'
				top: 5px
				right: 25px
				height: 40px
				font-size: 40px
				color: $main
				z-index: 10

		.choice-img
			height: 300px
			overflow: hidden
			text-align: center
			img
				height: 100%
				transform: scale(0.9)
				transition: transform 0.5s
		&:hover
			img
				transform: scale(1.1)

	.choice-point
		margin: 20px 0 40px
		font-family: RobotoBold
		letter-spacing: 2px
		color: $black
		text-transform: uppercase			

	.choice-pic
		img
			width: 100%

	.choice-content-title
		margin-bottom: 20px
		color: $grey
		font-style: italic
		font-family: serif
		font-size: 20px		

// Pluses
.product-plus
	.w-plus-item
		padding: 60px 0

		ul
			list-style-type: disc
			padding-left: 30px

		h3
			margin: 20px 0 10px	

		&:nth-child(even)
			border-top: 1px solid $blueLight
			border-bottom: 1px solid $blueLight
			.plus-text
				float: right
			.w-btn
				text-align: right	

		.text
			margin-bottom: 10px
		

		.plus-img
			text-align: center
			img
				max-height: 265px
				max-width: 100%


// How it works

.how-works
	&.active
		.work-item
			&:nth-child(even)
				.work-option
					&:before
						width: 100%
					&:after
						height: 100%
			&:nth-child(odd)
				.work-option
					&:before
						height: 100%
					&:after
						width: 100%


	.work-option
		position: relative
		display: inline-block
		width: 49%
		height: 135px
		vertical-align: bottom

		.work-title
			position: absolute
			top: 50%
			right: 0
			padding-right: 40px
			width: 100%
			letter-spacing: 1px
			color: $silver
			font-family: RobotoBold
			text-align: center
			transform: translateY(-50%)
		img
			position: absolute
			top: 50%
			right: -40px
			margin-top: -40px
			width: 80px
			padding: 10px
			background: $white
	.work-text
		position: relative
		display: inline-block
		width: 49%
		padding-top: 30px
		padding-left: 40px
		height: 125px	


	.work-item
		padding: 0
		&:nth-child(even)
			margin-left: 33.23%
			.work-option
				&:before
					position: absolute
					content: ''
					bottom: 0
					left: 0
					width: 0%
					height: 1px
					background-color: $main
					transition: width 0.6s
				&:after
					position: absolute
					content: ''
					bottom: 0
					right: 0
					width: 1px
					height: 0%
					background-color: $main
					z-index: -1
					transition: height 0.6s
			.work-title
				text-transform: uppercase		
		&:nth-child(odd)
			.work-option
				&:before
					position: absolute
					content: ''
					bottom: 0
					right: 0
					width: 1px
					height: 0%
					background-color: $main
					transition: height 0.6s
				&:after
					position: absolute
					content: ''
					bottom: 0
					right: -100%
					width: 0%
					height: 1px
					background-color: $main
					transition: width 0.6s

			.work-text
				color: $silver
				font-family: RobotoBold
				text-transform: uppercase
			.work-title
				color: $black
				font-family: RobotoLight	
		&:last-child
			.work-option
				border-bottom: none		

	.work-descr
		margin-top: 65px
		p
			margin: 0 auto
			max-width: 500px
		
		a
			margin-top: 20px	


// benefits

.benefits
	text-align: center
	.w-benefit
		position: relative
		display: inline-block
		width: 24%
		vertical-align: top
		.circle-img
			overflow: visible
			&:after
				border-radius: 50%
			img
				border-radius: 50%
		svg
			position: absolute
			top: 0
			left: 0

	.benefit-text
		margin: 10px 0 35px
		color: $silver
		font-family: serif
		font-style: italic
		font-size: 22px
		color: $silver
		text-align: center


// bottle structure
.bottle-structure
	&.active
		.bottle-schema
			.item
				.line
					width: 37%
	.intro-text
		margin: 80px 0 30px
		h4
			font-size: 22px
			text-transform: uppercase
			font-family: RobotoLight
			letter-spacing: 2px
			margin-bottom: 10px
		.descr
			font-size: 18px
			text-transform: uppercase	
		.btn
			margin-top: 40px

	.bottle-schema
		position: relative
		margin-top: 20px
		height: 550px
		text-align: center

		.item
			position: absolute
			width: 50%
			height: 130px
			.item-content
				display: inline-block
				padding: 20px
				width: 60%
				max-width: 350px		
				transition: box-shadow 0.3s
				.item-title
					margin-bottom: 15px
					text-transform: uppercase
					font-family: RobotoRegular
			.dot
				position: absolute
				content: ''
				top: 50%
				margin-top: -9px
				width: 18px
				height: 18px
				background: $main
				border-radius: 50%
				border: 1px solid $blueLight
				transition: box-shadow 0.3s
				cursor: pointer
				&:hover
					box-shadow: 0 1px 12px 2px $main
					+ .item-content
						box-shadow: 0 1px 12px 2px rgba(21,101,192,.3)
			.line
				position: absolute
				content: ''
				top: 50%
				width: 0%
				height: 1px
				background: $main
				transition: width 0.6s

			&:nth-child(1)
				width: 52%
				top: 35px
				right: 0
				text-align: right
				.dot
					left: 3px
				.line
					left: 10px
			&:nth-child(2)
				top: 180px
				left: 0
				text-align: left
				.dot
					right: 0
				.line
					right: 10px
			&:nth-child(3)
				width: 52%
				top: 300px
				right: 0
				text-align: right
				.dot
					left: 0
				.line
					left: 10px
			&:nth-child(4)
				top: 395px
				left: 0
				text-align: left
				.dot
					right: 0
				.line
					right: 10px	


		img
			height: 100%

// end 

// elements -----------------
.elements
	.elements-slider
		margin-bottom: 60px
	.owl-pagination
		margin-top: 20px
		.owl-page
			position: relative
			width: 125px
			margin: 0 5px
			line-height: 35px
			text-align: center
			color: $white
			background-color: $main
			opacity: 0.6
			transition: opacity 0.3s
			&:first-child()
				border-radius: 15px 0 0 15px
			&:last-child()
				border-radius: 0 15px 15px 0
			&.active,
			&:hover
				opacity: 1
			span
				visibility: hidden
// minerals end -------------		

// use and care start -------	
.use-care
	.use
		padding: 0 20px
	h6
		margin-bottom: 20px
		font-size: 22px
		letter-spacing: 2px
		font-family: RobotoLight
		color: $black

	.step
		position: absolute
		top: 50%
		left: -30px
		margin-top: -30px
		display: inline-block
		height: 60px
		width: 60px
		line-height: 60px
		font-size: 35px
		font-family: RobotoRegular
		background: $blueLight
		color: $white
		border-radius: 50%
		text-align: center

	.w-use,
	.w-care
		position: relative
		padding: 20px 0 30px
		height: 290px
		border: 1px solid $blueLight		
		margin-bottom: 20px
		background: $white
		transition: transform 0.4s, z-index 0.4s
		&:hover
			transform: scale(1.1)
			z-index: 10
		.item-img
			line-height: 100px
			img
				max-height: 100px	
		.item
			text-align: center
		.title
			font-size: 18px	
		.text
			padding: 0 30px	

	.w-care
		height: 270px		


	.care
		margin-top: 60px	



// use and care end ---------	
// partners start ---------	
.become-partner
	.text
		font-size: 18px

	.partner-img
		padding: 25px		

	form
		margin-top: 30px

.partner
	.headline
		margin-top: 50px
		text-align: center
		font-size: 30px
		color: $silver
		font-style: italic
		font-family: serif
	.partner-img
		height: 180px
		position: relative
		img
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			max-width: 100%
			max-height: 100%

	.item
		margin-top: 20px
		padding: 0 20px		

// use and care end ---------	
// contact
.contact
	.w-social-links
		.social-link
			margin: 0 5px

// news section
.news
	padding: 0

	.news-item
		position: relative
		height: 340px
		padding: 0
		background-size: cover
		background-position: 50% 50%
		.content
			position: relative
			width: 100%
			height: 100%
			text-align: center
			transition: all 0.3s
			z-index: 1
			overflow: hidden
			&:after
				position: absolute
				content: ''
				top: 0
				left: 0
				height: 100%
				width: 100%
				background: linear-gradient(to right, $main 0%, #6cebf1 100%)
				opacity: 0.2
				z-index: 0

			img
				position: absolute
				top: 50%
				left: 50%
				min-width: 100%
				min-height: 100%
				transform: translate(-50%, -50%)

			&:hover
				background: rgba(0,0,0,0.4)	
				.btn
					bottom: 80px
					opacity: 1

			.news-title
				position: absolute
				top: 135px
				width: 100%
				font-size: 25px
				font-family: RobotoBold
				text-transform: uppercase
				letter-spacing: 1px
				color: $white
				text-shadow: 1px 1px 5px rgba(0,0,0,0.5)
				z-index: 5

			.btn
				position: absolute
				bottom: -50%
				left: 50%
				transform: translateX(-50%)
				opacity: 0
				z-index: 5
				transition: opacity 0.3s, bottom 0.8s

		


// info gallery end --------

.certificate
	text-align: center
	&.active
		.w-item
			.item-img
				&:before,
				&:after
					width: 100%
					height: 100%
				
	.w-item
		display: inline-block
		margin: 10px 20px
		max-width: 180px
		vertical-align: top
		cursor: pointer
	.item-img
		border: 1px solid $blueLight
		transition: box-shadow 0.4s
		position: relative
		z-index: 10
		&:hover
			box-shadow: 0 1px 12px 2px rgba(21,101,192,.3)
		&:before
			position: absolute
			content: ''
			width: 0%
			height: 0%
			top: -1px
			right: -1px
			border-top: 1px solid $main
			border-right: 1px solid $main
			transition: all 0.5s
			z-index: -1
		&:after
			position: absolute
			content: ''
			width: 0%
			height: 0%
			bottom: -1px
			left: -1px
			border-bottom: 1px solid $main
			border-left: 1px solid $main
			transition: all 0.5s
			z-index: -1
		img	
			width: 100%
	.item-title
		margin-top: 20px
		font-family: serif
		font-style: italic
		font-size: 22px
		color: #7F8C8D
		text-align: center
// comments
.comments
	.circle-img
		width: 150px
		height: 150px

	.item
		padding: 20px 30px

	.comment
		position: relative
		margin-top: 10px
		text-align: justify
		font-size: 18px

		&::before
			position: absolute
			content: '\201c'
			top: -25px
			left: -10px
			height: 20px
			width: 20px
			font-size: 30px
			color: $grey
		&::after
			position: absolute
			content: '\201d'
			bottom: 0px
			right: -9px
			height: 20px
			width: 20px
			font-size: 30px
			color: $grey

	.commentator
		margin-top: 20px
		color: $blueHover
		font-family: serif
		font-style: italic
		font-size: 18px


// Not found page 
.not-found
	padding-bottom: 80px

	.not-found-title
		font-size: 120px
		font-family: RobotoBold
		color: $silver

	.not-found-msg
		font-size: 30px
		margin: 20px 0 10px

	.not-found-info
		margin-bottom: 30px
		font-size: 16px

// No result page
.no-result
	.no-result-title
		margin-bottom: 10px
		font-size: 25px
		text-transform: uppercase

	.no-result-query
		font-family: RobotoBold
		font-size: 25px	

		i
			color: $silver
			font-size: 22px
			margin-right: 10px

	.no-result-text
		margin-top: 70px
		font-size: 20px

// customer info page
.info

	.info-label
		margin-bottom: 20px
		color: $silver
		font-size: 18px	
		line-height: 22px	

	.fa-info-circle
		color: $silver
		font-size: 14px
		margin-right: 10px

	.title
		color: $black

	.info-subtitle
		margin-bottom: 30px	

	.content
		margin-top: 30px
		font-size: 16px

	.info-content
		max-width: 870px
		margin: 0 auto

		ul
			margin: 10px 0
			padding-left: 20px
			li
				list-style-type: disc

// FAQ
.w-question
	border-bottom: 1px solid $greyLight

	.question-title
		padding: 20px 30px		
		position: relative
		font-size: 18px
		font-family: RobotoRegular
		cursor: pointer

		.fa
			position: absolute
			top: 50%
			right: 20px
			transform: translateY(-50%)
			color: $main
			font-weight: 600

	.answer
		padding: 10px 30px 30px
		display: none

	&.active
		.answer
			display: block	


// Checkout products
.discount
	margin-top: 20px
	margin-left: 30px
	padding-top: 30px
	border-top: 1px solid $blueLight

	input
		width: 100%

.order-list
	.title
		padding-left: 30px

	.w-product
		padding-left: 30px
		margin-bottom: 10px

		img
			height: 60px

	.well
		padding-top: 15px
		border-top: 1px solid $blueLight

	.order-price
		margin-top: 20px
		padding-left: 30px

		.name
			display: inline-block
			width: 70%
		.price
			display: inline-block
			width: 28%
			text-align: right

		.total
			margin-top: 10px
			padding-top: 10px
			font-family: RobotoBold
			text-transform: uppercase
			color: $main
			border-top: 1px solid $blueLight

.shipping-info
	padding: 20px 30px 20px 5px
	border: 1px solid $blueLight
	border-radius: 5px
	background: #f9fcfe

	.shipping-address
		margin-left: 10px
		font-family: RobotoBold

	.shipping-choice
		label
			top: 6px	
	.shipping-name
		line-height: 40px		

.contact-info,
.delivery-info
	margin-bottom: 20px
	padding: 20px
	border: 1px solid $blueLight	
	border-radius: 5px
	background: #f9fcfe		
	p
		margin-bottom: 10px
		color: $blueHover
		text-transform: uppercase	

.payment-info
	margin-top: 15px
	padding: 20px 30px 20px 5px
	border: 1px solid $blueLight
	border-radius: 5px
	background: #f9fcfe
	img
		height: 55px

	#paypal-button-container
		margin: 0 auto
		max-width: 350px


.w-terms-of-use
	margin-top: 15px
	
	a
		margin-left: 5px
		font-family: RobotoRegular	


// Overriding of default styles

#jGrowl.top-right
	top: 55px
	right: 20px

	.ms2-message-success
		background-color: rgba(21, 101, 192, 0.8)!important
	.ms2-message-error
		background-color: rgba(244, 67, 54, 0.8)!important
	.ms2-message-info
		background-color: rgba(21, 101, 192, 0.8)!important


// success order page
.table-responsive	
	table.table-striped
		width: 100%

		tr
			border-top: 1px solid $blueLight 
		
			th
				padding: 10px 0
				float: none
				font-size: 15px
				text-transform: uppercase
				font-family: RobotoBold
				color: $black
				width: 25%

			td
				float: none
				padding: 10px 0	
				width: 25%
				&.title
					font-size: 16px
					text-transform: capitalize


// comments 
.comments
	margin-top: 40px	
#comment-form-placeholder
	padding: 20px
	textarea
		text-indent: 15px
		line-height: 30px
		font-size: 14px						


@import "_footer.sass"
@import "_flipcard.sass"

//ALWAYS END
@import "_preloader.sass"
@import "media"
